.table {
  width: 100%;
  color: #212529;
  position: relative;
  width: 100%;
  border: none;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.01), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
  background-color: #FFF;
  border-radius: 4px;
  overflow: hidden;

  &-wrap {
    overflow-x: auto;
    width: calc(100% + 30px);
    margin: 0 -15px;
    padding: 0 15px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  .table-head {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #DEE2E6;

    @include media(sm) {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      padding: 10px 24px;
    }
  }

  &-name {
    font-size: 24px;
    font-weight: 700;
  }

  &-pagination {
    margin-top: 24px;
  }

  table {
    width: 100%;
    border-spacing: 0;
    min-width: 600px;
  }

  tr {
    &:hover {
      background-color: rgba(0,0,0,.075);
    }
  }

  thead {
    background-color: #f6f8fb;
  }

  th,
  td {
    text-align: left;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-weight: 400;
  }

  .edit {
    text-align: right;
  }
}

.table-cell-flex {
  display: flex;
  align-items: center;
  gap: 12px;
}


.table-cell-info {
  position: relative;

  &__icon {
    width: 16px;
    height: 16px;
    cursor: pointer;

    &:hover + .table-cell-info__tooltip {
      opacity: 1;
      visibility: visible;
    }
  }

  &__tooltip {
    position: absolute;
    padding: 14px 10px 14px;
    border: 1px solid #DEE2E6;
    border-radius: 10px;
    background-color: $white;
    top: 20px;
    min-width: 160px;
    max-width: 160px;
    word-break: break-all;
    opacity: 0;
    visibility: hidden;
  }
}

.color--blue {
  color: $primary
}

.table-cell-link {
  width: 93px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table-tabs {
  padding: 12px 25px;
  display: flex;
  align-items: center;

  &__item {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-bottom: 2px solid transparent;
    cursor: pointer;

    &:hover {
      opacity: .6;
    }

    &.is-active {
      border-color: #19B5FE;
    }
  }
}

.table-panel {
  padding: 20px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.table-period {
  display: flex;
  align-items: center;
  gap: 20px;

  span {
    color: $primary;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #F6F7FB;
  }
}

.table-timezone {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;

  span {
    color: $primary;
  }
}

.table-wrap-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 700;

  @include media(sm) {
    padding: 10px 24px;
  }
}

.table-wrap__today {
  color: $primary;
  font-size: 20px;
}

.cabinet {
  display: flex;
  gap: 20px;
  width: 100%;

  @media(max-width: 1280px) {
    flex-direction: column;
  }

  &-left {
    width: 40%;

    @media(max-width: 1280px) {
      width: 100%;
    }
  }

  &-right {
    width: 60%;

    @media(max-width: 1280px)  {
      width: 100%;
    }
  }

  &-info {
    padding: 24px;

    @include media(sm) {
      padding: 10px 24px;
    }
  }

  &-person {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    line-height: 1.4;
  }

  &-contacts {
    margin-top: 30px;

    &__item {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 10px;
      font-weight: 700;

      > a {
        color: $primary;
        font-weight: 400;
      }
    }
  }
}


.tooltip {
  position: relative;

  &:hover {
    .tooltip-info {
      opacity: 1;
      visibility: visible;
    }
  }
  
  &-btn {

    img {

      display: block;
    }
  }

  &-info {
    position: absolute;
    padding: 14px 10px 14px;
    border: 1px solid #DEE2E6;
    border-radius: 10px;
    background-color: #FFF;
    top: 20px;
    min-width: 160px;
    max-width: 160px;
    word-break: break-all;
    opacity: 0;
    visibility: hidden;

  }
}